@charset "UTF-8";

/* 回答はここに書いてね */
.Q7--textbox {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}
.Q7--innerbox::after {
  content: "";
  display: block;
  clear: both;
}
.Q7--textbox:first-child {
  float: left;
  margin-right: 50px;
}
.Q7--textbox:last-child {
  float: left;
}

.Q7--innerbox {
  display: table;
  font-size: 16px;
}
.Q7--textbox {
  width: 225px;
  font-size: 16px;
  padding-left: 50px;
  display: table-cell;
  vertical-align: middle;
}
.Q7--textbox:first-child {
  padding-left: 0;
}

.Q7--innerbox {
  font-size: 0;
}
.Q7--textbox {
  width: 225px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  box-sizing: border-box;
}
.Q7--textbox:first-child {
  margin-left: 0;
}

.Q7--innerbox {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.Q7--textbox {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}
.Q7--full{
  font-size: 0;
}

.Q7--textbox:first-child {
  width: 300px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
.Q7--text:first-child {
  margin-left: 0;
  box-sizing: border-box;
}
.Q7--textbox:last-child {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}


/* 回答はここに書いてね */
